.main_div{
  display: flex;
  flex-direction: row;
}

.navbar{
  display: flex;
  flex-direction: column;
  align-items: center ;
  height: 100vh;
  overflow-y: auto;
  background-color: #414141 ;
  flex: 1.5;
}
.navbar a{
  color: aliceblue;
}

.active{
  background-color: #4CAF50; /* or any highlight color you prefer */
  color: green;
}

.home_div{
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
.navbar_model_div {
  width: 100%;
  text-align: center;
  padding: 10px;
}
.home_div:hover, .navbar_model_div:hover{
  background-color: aliceblue;

}
.home_div:hover a, .navbar_model_div:hover a{
  color: #2e2e2e;
}

.qna_area{
  background-color: #2e2e2e ;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 8.5;
}
.qna_heading{
  flex: 1;
  justify-content: center;
  align-content: center;
}
.qna_heading h2{
  color: aqua;
  margin: 50px;
}
